footer {
    text-align:center;
    color:black;
    line-height:5px;
}
h1 {
    color:blue;
    text-align: center;
    
}

h2 {
    color:purple;
    text-align: center;
}

body {
    background-color:white;
}

h3 {
    margin:top;
    color:green;

}

.header img {
  float: left;
  width: 120px;
  height: 100px;
  background: powderblue;
}



.header h1 {
  position: center;
  top: 18px;
  left: 10px;
}


